# Database Credentials
export DB_HOST="hostaddress"
export DB_USER="username"
export DB_PASSWORD="password"
export DB_NAME="databasename"
export DB_POOL_WAIT_FOR_CONNECTIONS="true" # "true" or "false"
export DB_POOL_CONNECTION_LIMIT="10" # integer
export DB_POLL_QUEUE_LIMIT="0" # integer, 0 means unlimited
